:root {
  --color-accent: #ef3636;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #f4f2ef;

  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy;

  --font-weight-text: 400;
  --font-weight-title: 700;

  --card-width: clamp(375px, 50vw, 700px);

  --contour-color: #000000;
  --animation-fill-color: #ef3636;

  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
